.gauche {

width:50%;
float:left;
color:white;
background-color:#fff;
}

.gauche input{
width: 75%;
display: block;
}

.gauche textarea{
width: 75%;
display: block;
resize: vertical;
min-height: 25px;
max-height: 150px;
}

.droite {
background-color:white;
float:right;
width:50%;
/*
div de la partie droite de l'écran
*/
}

.droite img{
	width: 50%;
	padding: 25%;
	
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}


.gauche img{
	width: 50%;
	padding: 25%;
	
    -webkit-animation:spin2 8s linear infinite;
    -moz-animation:spin2 8s linear infinite;
    animation:spin2 8s linear infinite;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-moz-keyframes spin2 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
